h2{
    color: rgb(206, 71, 30); 
    padding-top: 1.8rem; 
}


.design{
    background-color: rgb(152, 152, 199);
    position: relative;
    width: 100%;
    height: 5rem;
    border: 2%;
    border-color:red;
}